.Profile {
  width: 100%;
  height: auto;
  background-color: #151515;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  min-height: calc(100vh - 5.5rem);
}
